*{
    margin: 0; padding: 0;
    font-family: "Microsoft YaHei","微软雅黑", Arial, STXihei,"华文细黑",SimSun,"宋体";box-sizing: border-box;font-size: 14px;
    color:#fff;
    outline: none;
    position: relative;
    list-style-type: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.clear{
    clear:both;
}
/*弹窗*/
.zhezhao{
    width:100%;
    position: fixed;
    left:-100%;
    top:0;
    opacity: 0;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index: 100;
}
.zhezhao.dh{
    -webkit-animation:tcys 2s forwards;
    -o-animation:tcys 2s forwards;
    animation:tcys 2s forwards;
}
@keyframes tcys {
    10%{
        left:0
    }
    20%{
        opacity: 0;
        left:0;
    }
    100%{
        opacity: 1;
        left:0;
    }
}
.tan_dindow{
    width:90%;
    height:100px;
    background:#fff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    position: relative;
    position: fixed;
    top:-100%;
    opacity: 0;
    left:5%;
    margin-top: -50px;
    z-index: 110;
    color:rgba(0,0,0,.8);
    padding: 10px;
}
.tan_dindow.dh{
    -webkit-animation:tcst 2s forwards;
    -o-animation:tcst 2s forwards;
    animation:tcst 2s forwards;
}
@keyframes tcst {
    10%{
        top:50%;
    }
    30%{
        opacity: 0;
        top:30%;
    }
    100%{
        opacity: 1;
        top:50%;
    }
}
/*.tan_dindow>.tishi{
    color:rgba(0,0,0,.8);
    text-align: center;
}*/
.tan_dindow>.btn{
    width:50%;
    color:#000;
    position: absolute;
    bottom:10px;
    text-align: center;
    left:25%;
    border:1px red solid;
}
