/*
 *  yestreen_sleep.html css'样式
 *  create by cyj 2017/3/8
 */
::-webkit-scrollbar{width:0px}
html::-webkit-scrollbar {
    display: none;
}
body::-webkit-scrollbar {
    display: none;
}
div::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  background: #aaa;
  border: 0px solid #ccc;
  width:10px;
}

body,html{
    width:100%;
    min-height:100%;
    /*height: 100%;*/
    -webkit-background-size:100% 100%;
    background-size:100% 100%;

}
body{
    background:url("../img/bg_img.png") center no-repeat;
}
.sleep_yestday{
    box-sizing:border-box;
    min-height: 100%;
    /*height: 100%;*/
    width: 100%;
    /*overflow: hidden;*/
}
.top-wrapper{
    position: relative;
    height: 70%;
    width:100%;
    margin: 10% auto 0;
    /*background:url("../img/top_bakImg.png") center center no-repeat;*/
}
.user_face,.user_sleep1,.user_sleep2,.user_time,.user_address,.detail-content{
    position: absolute;
    display: none;
}
.user_face{
    width:44px;
    height: 44px;
    overflow: hidden;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    left:85%;
    top:-4%;
}
.user_face img{
    width: 100%;
    height: 100%;
}
.user_sleep1{
    top:39%;
    left: 5%;
}
.user_sleep1 .time{
    font-size: 16px;
}
.user_sleep1 .time small{
    font-size: 10px;
}
.user_sleep1 .text{
    font-size: 10px;
     color: #e5e5e5;
}
.user_sleep2{
    top:56%;
    left: 14%;
}
.user_sleep2 .time{
    font-size: 16px;
}
.user_sleep2 .time small{
    font-size: 10px;
}
.user_sleep2 .text{
    font-size: 10px;
    color: #e5e5e5;
}
.user_time{
    right: 4%;
    top: 43%;
    color: rgba(255,255,255,0.8);
    font-size: 10px;
}
.user_address{
    right: 9%;
    top: 54%;
    color: rgba(255,255,255,0.8);
    font-size: 10px;
}
.detail-content{
    display: flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap;
    bottom: 6%;
    left: 0;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    height: 24%;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    opacity: 0;
}
.detail-content .text{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 49%;
    color: rgba(255,255,255,0.8);
}
.detail-content .text span{
    color: #fff;
}
 /*ip5 ip5s 适配*/
@media screen and (max-width: 321px) {
    .user_sleep1,.user_sleep2{
        font-size: 18px;
    }
    .user_sleep1 .time small,
    .user_sleep2 .time small{
        font-size: 10px;
    }
    .user_sleep1 .text,
    .user_sleep2 .text{
        font-size: 10px;
    }
    .user_sleep1{
        top: 37%;
        left: 7%;
    }
    .user_sleep2{
        top:54%;
        left: 14%;
    }
    .user_time{
        right: 4%;
        top: 42%;
    }
    .user_address{
        right: 6%;
        top: 52%;
    }
}
 /*ip6p 适配*/
@media screen and (min-width: 410px) {
    .user_sleep1{
        top: 37%;
        left: 7%;
    }
    .user_sleep2{
        top:53%;
        left: 14%;
    }
    .user_sleep1 .time,.user_sleep2 .time{
        font-size:18px;
    }
    .user_sleep1 .time small,
    .user_sleep2 .time small,
    .user_sleep1 .text,
    .user_sleep2 .text{
        font-size: 12px;
    }
    .user_time{
        right: 4%;
        top: 40.5%;
        font-size: 12px;
    }
    .user_address{
        right: 6%;
        top: 50%;
        font-size: 12px;
    }
    .detail-content{
        bottom: 8%;
    }
    .detail-content .text{
        font-size: 16px;
    }
}


.bottom-wrapper{
    display: none;
    min-height: 24%;
    width: 100%;
    padding:0 4px 4px;
}
.bottom-wrapper .bottom-content{
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    padding: 10px 12px;
    box-sizing:border-box;
}

.bottom-wrapper .bottom-content .title{
    height: auto;
    font-size: 14px;
    color: #fefefe;
    margin-bottom: 8px;
}
.bottom-wrapper .bottom-content .text{
    color: rgb(218,218,218);
    line-height: 20px;
    font-size: 12px;
}

/*ip6p ip7 适配*/
@media screen and (min-width: 410px) {
    .bottom-wrapper .bottom-content .title{
        font-size: 16px;
    }
    .bottom-wrapper .bottom-content .text{
        line-height: 22px;
        font-size: 14px;
    }
}

.aaa{
    display: flex;
}


